* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid {
  border: 1px solid black;
  display: flex;
  flex-flow: row wrap;
  width: calc(20px * 7 + 2px);
  height: 122px;
}

.grid > div {
  height: 20px;
  width: 20px;
  background-color: blue;
}

.playerOne {
  background-color: red;
  border-radius: 10px;
}

.playerTwo {
  background-color: blue;
  border-radius: 10px;
}
